<p-confirmDialog id="list_macro_field_confirmDialog" header="Confirmation" icon="pi pi-exclamation-triangle"
  [style]="{ 'z-index': '100000 !important'}">
</p-confirmDialog>

<div class="p-grid">

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">

    <div class="p-fluid">

      <div class="custom-list-card">

        <div class="custom-toolbar-card">
          <p-toolbar styleClass="toolbar-macro-field-list">
            <div class="p-toolbar-group-left">
              <span style="padding-left: 0.7rem; font-weight: 500;">Macro Fields</span>
              <button pButton pRipple type="button" icon="fas fa-plus" class="app-mt-3 p-ml-4 app-mb-1"
                (click)="create()" label="New" pTooltip="New"></button>
            </div>

            <div class="p-toolbar-group-right">
              <button pButton pRipple type="button" icon="fas fa-times"
                class="p-button-danger app-mt-3 app-ml-5 app-mb-1 app-mr-5" (click)="close()" pTooltip="Close"></button>
            </div>
          </p-toolbar>
        </div>

        <div class="custom-data-section">

          <form [formGroup]="_form">

            <div class="app-p-1">

              <p-table #labsTable [columns]="_tableColumns" [value]="_macroField" [lazy]="true"
                [totalRecords]="_totalRecords" dataKey="id" [rows]="10" (onLazyLoad)="loadDate($event)"
                responsiveLayout="stack" styleClass="p-datatable-gridlines" [paginator]="_macroField?.length > 0"
                paginatorPosition="top" selectionMode="single">

                <ng-template pTemplate="caption">

                  <div class="p-col-12 app-p-3">

                    <div class="p-inputgroup">

                      <span class="p-input-icon-right">
                        <input type="text" pInputText formControlName="keyword" (keyup)="macroFieldSearchKeyUp($event)"
                          #keyword />
                        <i class="fas fa-times" (click)="clearSearch()"></i>
                      </span>

                      <div class="app-pl-5">
                        <button pButton pRipple type="button" icon="fas fa-search" class="app-ml-2 app-mt-1"
                          label="Search" style="width: 85px" (click)="onRegularSearchClick()"
                          pTooltip="Search"></button>
                      </div>

                    </div>

                  </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th style="width: 15%;  color: #000;">Actions</th>
                    <th style="width: 20%;  color: #000;">Field Name</th>
                    <th style="width: 20%;  color: #000;">Description</th>
                    <th style="width: 20%;  color: #000;">Query</th>
                    <th style="width: 20%;  color: #000;">Status</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                  <tr [pSelectableRow]="rowData">
                    <td>
                      <span class="p-column-title">Actions</span>
                      <p-button icon="fas fa-eye" class="p-mr-2" pTooltip="View" (click)="view(rowData)">
                      </p-button>
                      <p-button icon="fas fa-edit" class="p-mr-2" pTooltip="Edit" (click)="edit(rowData)">
                      </p-button>

                    </td>
                    <td>{{ rowData.name}}</td>
                    <td>{{ rowData.description}}</td>
                    <td>{{ rowData.query}}</td>
                    <td>{{ rowData.recordStatusId | listAsString: _recordStatus }}</td>
                  </tr>

                </ng-template>

              </p-table>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>