<!-- <ngx-spinner name="createModifierSpinner"
             bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple"
             [fullScreen]="false">
</ngx-spinner> -->

<p-confirmDialog key="createModifierConfirmDialog" header="Confirmation" icon="pi pi-exclamation-triangle"
  [style]="{ 'z-index': '100000 !important' }" styleClass="custom-confirm-dialog" [closeOnEscape]="false"
  [closable]="false">
</p-confirmDialog>

<div class="custom-card p-shadow-3">

  <div class="custom-toolbar-card">

    <p-toolbar styleClass="toolbar-create-email-template">
      <div class="p-toolbar-group-left">
        <span style="padding-left: 0.7rem; font-weight: 500;">{{ _pageTitle }} {{ _pageSubTitle}}</span>
      </div>

      <div class="p-toolbar-group-right">
        <button type="button" pButton pRipple icon="fas fa-save" class="app-mt-3 p-ml-4 app-mb-3" label="Save"
          (click)="save()" pTooltip="Save"></button>

        <button pButton pRipple type="button" icon="fas fa-lg fa-times"
          class="p-button-danger app-mt-3 app-mb-3 app-ml-5 app-mr-5" (click)="close()"></button>
      </div>
    </p-toolbar>
  </div>

  <form [formGroup]="_form">

    <div class="custom-data-section" style="background-color: #ffffff;">

      <div class="p-col-12 app-p-0">

        <div class="p-grid p-fluid">

          <div class="p-col-fixed app-p-1">

            <div class="custom-data-section app-p-1" style="width: 600px; border: 1px solid #e0e0e0;">

              <div class="custom-data-sub-section app-mt-1 app-mb-1">

                <div class="p-col-12 app-pt-5 app-pb-0">
                  <div class="p-grid">
                    <div class="p-col-8 p-pt-0 p-pb-0">
                      <div class="p-field p-grid">
                        <label style="width: 100px"><strong>Name<span class="required-star">*</span></strong></label>
                        <div class="p-col">
                          <input type="text" pInputText formControlName="name" autocomplete="off" autocomplete="nope"
                            #name />
                          <ui-validation-message [control]="_form.get('name')" *ngIf="_formSubmitAttempt == true">
                          </ui-validation-message>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-col-12 app-pt-1 app-pb-3">
                  <div class="p-grid">
                    <div class="p-col-12 p-pt-0 p-pb-0">
                      <div class="p-field p-grid">
                        <label style="width: 100px"><strong>Body
                            <span class="required-star">*</span></strong></label>
                        <div class="p-col">

                          <p-editor #editor formControlName="body" [style]="{'height':'320px'}">
                            <ng-template pTemplate="header">

                              <span class="ql-formats">
                                <select class="ql-header" tabindex="-1">
                                  <option value="1" tabindex="-1">Heading</option>
                                  <option value="2" tabindex="-1">Subheading</option>
                                  <option selected tabindex="-1">Normal</option>
                                </select>
                                <select class="ql-font" tabindex="-1">
                                  <option selected tabindex="-1">Sans Serif</option>
                                  <option value="serif" tabindex="-1">Serif</option>
                                  <option value="monospace" tabindex="-1">Monospace</option>
                                </select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                                <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                              </span>
                              <span class="ql-formats">
                                <select class="ql-color" tabindex="-1"></select>
                                <select class="ql-background" tabindex="-1"></select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-list" value="ordered" aria-label="Ordered List"
                                  tabindex="-1"></button>
                                <button class="ql-list" value="bullet" aria-label="Unordered List"
                                  tabindex="-1"></button>
                                <select class="ql-align" tabindex="-1">
                                  <option selected tabindex="-1"></option>
                                  <option value="center" tabindex="-1"></option>
                                  <option value="right" tabindex="-1"></option>
                                  <option value="justify" tabindex="-1"></option>
                                </select>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                                <button class="ql-image" aria-label="Insert Image" tabindex="-1"></button>
                                <button class="ql-code-block" aria-label="Insert Code Block" tabindex="-1"></button>
                              </span>
                              <span class="ql-formats">
                                <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
                              </span>

                              <span class="ql-formats">
                                <button id="custom-button" title="Macro fields" (click)="getMacroFields()">M </button>
                              </span>

                            </ng-template>
                          </p-editor>
                          <ui-validation-message [control]="_form.get('body')" *ngIf="_formSubmitAttempt == true">
                          </ui-validation-message>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </form>

</div>


<p-dialog [(visible)]="_isMacroFiledVisible" header="Email Template" [modal]="true" icon="pi pi-external-link"
  styleClass="custom-dialog">
  <aeliusmd-macro-filed-selector #macroFieldSelectComponent (onRecordSelect)="macroFiledSelectEventHandler($event)"
    (onClose)="onCloseMacroFiled()">
  </aeliusmd-macro-filed-selector>
</p-dialog>