<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="false"
>
    <p style="font-size: 12px; color: white">Authenticating...</p>
</ngx-spinner>

<ui-message></ui-message>

<div
    [formGroup]="loginForm"
    class="surface-card p-4 border-round"
    style="width: 25vw; height: 60vh"
>
    <div class="text-center mb-5 mt-5">
        <img
            src="../../../../assets/layout/images/logo-square.png"
            alt="Image"
            height="50"
            class="mb-3"
            style="scale: 1.6"
        />
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <span class="text-600 font-medium line-height-3"
            >Don't have an account?</span
        >
        <a
            routerLink="/authentication/register"
            class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
            >Create today!</a
        >
    </div>

    <form [formGroup]="loginForm">
        <label for="email1" class="block text-900 font-medium mb-2"
            >Email</label
        >
        <input
            type="text"
            formControlName="userId"
            placeholder="Email address"
            pInputText
            class="w-full mb-3"
        />

        <label for="password1" class="block text-900 font-medium mb-2"
            >Password</label
        >
        <input
            type="password"
            formControlName="password"
            placeholder="Password"
            pInputText
            class="w-full mb-3"
        />

        <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
                <p-checkbox
                    id="rememberme1"
                    [binary]="true"
                    styleClass="mr-2"
                ></p-checkbox>
                <label for="rememberme1" class="text-900">Remember me</label>
            </div>
            <a
                class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                >Forgot password?</a
            >
        </div>

        <div class="flex justify-content-center">
            <button
                (click)="onSubmit()"
                pButton
                pRipple
                label="Sign In"
                icon="pi pi-user"
                class="w-6"
            ></button>
        </div>
    </form>
</div>
