<div class="grid">
    <div class="col-5 mb-3">
        <h6 style="font-size:22px; font-weight:500;color:#010101;">
            Welcome Back, Malith</h6>
        <p style="font-size:13px; font-weight:400; color: #b6b4b4; margin-top:-8px;">Lets start to
            track your daily activities.</p>
    </div>
    <div class="col-7 mb-3" style="display: flex; justify-content: space-between;">
        <div class="box" style="display: flex; justify-content: space-between; margin-top: 10px;">
            <i class="pi pi-book" style="color:#30BFFF; font-size: 40px; margin-right:5px;"></i>
            <p class="descrp"> 25 <span class="spnDescrption"> Events</span></p>
        </div>
        <div class="box" style="display: flex; justify-content: space-between; margin-top: 10px;">
            <i class="pi pi-bookmark-fill" style="color:#2F5CFA; font-size: 40px; margin-right:5px;"></i>
            <p class="descrp"> 145 <span class="spnDescrption"> Tasks</span></p>
        </div>
        <div class="box" style="display: flex; justify-content: space-between; margin-top: 10px;">
            <i class="pi pi-envelope" style="color:#d330ff; font-size: 40px; margin-right:5px;"></i>
            <p class="descrp"> 13 <span class="spnDescrption"> Messages</span></p>
        </div>
        <div class="box" style="display: flex; justify-content: space-between; margin-top: 10px;">
            <i class="pi pi-briefcase" style="color:#FFA51F;
            ; font-size: 40px; margin-right:5px;"></i>
            <p class="descrp"> 145 <span class="spnDescrption"> Open Cases</span></p>
        </div>
    </div>
</div>
<div class="grid mb-3">
    <div class="col-6">
        <div class="card cardDash">
            <app-events-dashboard></app-events-dashboard>
        </div>
    </div>
    <div class="col-6">
        <div class="card cardDash">
            <app-tasks-dashboard></app-tasks-dashboard>
        </div>
    </div>
    <div class="col-6">
        <div class="card cardDash">
            <app-cases-dashboard></app-cases-dashboard>
        </div>
    </div>
    <div class="col-6">
        <div class="card cardDash">
            <app-messages-dashboard></app-messages-dashboard>
        </div>
    </div>
</div>