<div class="container-fluid p-0">
    <div class="grid">
        <div
            class="col-6 flex justify-content-center align-items-center"
            style="background-color: #1565d8; height: 100vh"
        >
            <div class="flex flex-column justify-content-between">
                <div class="flex justify-content-center align-items-center">
                    <img
                        src="../../../../assets/layout/images/logo-main-transparent.png"
                        alt=""
                        style="width: 50%"
                    />
                </div>
                <div
                    class="mt-8 xl:text-xl lg:text-xl md:text-lg text-white sm:text-base"
                    style="margin-left: 12%; margin-right: 12%"
                >
                    <p>
                        The Marine Pollution Prevention Authority (MPPA) was
                        established in 1991 inaccordance with the Marine
                        Pollution Prevention (MPP) Act No 59 of 1981.Initially,
                        it operated under the Ministry of Port and Shipping
                        until 1994. However,due to increasing challenges in
                        marine pollution prevention in Sri Lanka as a resultof
                        global advancements and economic development activities,
                        the act was repealed.
                    </p>
                    <p>
                        In its place, the Marine Pollution Prevention Act No. 35
                        of 2008 was introduced andbecame effective on January 1,
                        2009. This new legislation took into considerationthe
                        changing circumstances and aimed to address marine
                        pollution more effectively.As part of this reform, the
                        Authority's name was changed to the MarineEnvironment
                        Protection Authority (MEPA).
                    </p>
                    <p>
                        Presently, the Marine Environment Protection Authority
                        operates under the purviewof the Minister of Urban
                        Development & housing. This act has strengthened the
                        lawenforcement capabilities of the Authority, allowing
                        them to tackle any acts ofmarine environment pollution
                        more efficiently and effectively.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 pt-6 bg-white">
            <div style="height: 80vh">
                <div
                    class="card flex justify-content-center border-none"
                    style="margin-left: 10%; margin-right: 10%; height: 100%"
                >
                    <h1
                        class="mt-6 font-normal text-center mb-5"
                        style="color: #374357; font-size: 20px"
                    >
                        Join to help protect our oceans, <br />beaches and
                        revers
                    </h1>
                    <div class="flex flex-column gap-4 align-items-center">
                        <button
                            class="flex justify-content-center align-items-center"
                            style="
                                border: 2px solid #1565d8;
                                padding: 1rem 1rem 1rem 1rem;
                                width: 300px;
                                color: bisque;
                                border-radius: 8px;
                                background-color: #f5f9ff;
                            "
                        >
                            <div
                                class="flex align-items-center justify-content-between"
                                style="font-size: 16px"
                            >
                                <div
                                    class="pi pi-user"
                                    style="
                                        display: inline-block;
                                        color: #1565d8;
                                        font-size: 1rem;
                                    "
                                ></div>
                                <span class="text-black">
                                    Community / Individuals
                                </span>
                            </div>
                        </button>
                        <button
                            class="flex justify-content-center align-items-center"
                            style="
                                border: 2px solid #1565d8;
                                padding: 1rem 1rem 1rem 1rem;
                                width: 300px;
                                color: bisque;
                                border-radius: 8px;
                                background-color: #f5f9ff;
                            "
                        >
                            <div style="font-size: 16px">
                                <i
                                    class="pi pi-user"
                                    style="color: #1565d8; font-size: 1rem"
                                >
                                </i>
                                <span class="text-black">
                                    Organization Private / Government
                                </span>
                            </div>
                        </button>
                        <button
                            class="flex justify-content-center align-items-center"
                            style="
                                border: 2px solid #1565d8;
                                padding: 1rem 1rem 1rem 1rem;
                                width: 300px;
                                color: bisque;
                                border-radius: 8px;
                                background-color: #f5f9ff;
                            "
                        >
                            <div style="font-size: 16px">
                                <i
                                    class="pi pi-user"
                                    style="color: #1565d8; font-size: 1rem"
                                >
                                </i>
                                <span class="text-black">
                                    School / University
                                </span>
                            </div>
                        </button>
                        <button
                            class="flex justify-content-center align-items-center"
                            style="
                                border: 2px solid #1565d8;
                                padding: 1rem 1rem 1rem 1rem;
                                width: 300px;
                                color: bisque;
                                border-radius: 8px;
                                background-color: #f5f9ff;
                            "
                        >
                            <div style="font-size: 16px">
                                <i
                                    class="pi pi-user"
                                    style="color: #1565d8; font-size: 1rem"
                                >
                                </i>
                                <span class="text-black"> Partnership </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div
                class="flex justify-content-end mt-3"
                style="padding-right: 10%"
            >
                <h1 class="text-lg font-normal" style="color: #374357">
                    Already have an account?
                    <span>
                        <a
                            routerLink="/authentication/login"
                            style="color: #1565d8; font-weight: 600"
                        >
                            Sign In
                        </a>
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>