<div>
    <div style="height: 80vh">
        <div
            class="flex flex-column justify-content-center border-none"
            style="margin-left: 10%; margin-right: 10%; height: 100%"
        >
            <h1
                class="font-medium fs-2 text-center mb-5"
                style="color: #374357;"
            >
                Join to help protect our oceans, <br />beaches and revers
            </h1>
            <div class="flex flex-column gap-4 align-items-center">
                <button
                    routerLink="/authentication/register/community"
                    class="flex justify-content-center align-items-center"
                    style="
                        border: 2px solid #1565d8;
                        padding: 1rem 1rem 1rem 1rem;
                        width: 25vw;
                        color: bisque;
                        border-radius: 8px;
                        background-color: #f5f9ff;
                    "
                >
                    <div
                        class="flex align-items-center justify-content-between"
                        style="font-size: 16px"
                    >
                        <!-- <div
                            class="fas fa-people-roof m-1"
                            style="
                                display: inline-block;
                                color: #1565d8;
                                font-size: 1rem;
                            "
                        ></div> -->
                        <span class="text-black">
                            Community / Individuals
                        </span>
                    </div>
                </button>
                <button
                    routerLink="/authentication/register/organization"
                    class="flex justify-content-center align-items-center"
                    style="
                        border: 2px solid #1565d8;
                        padding: 1rem 1rem 1rem 1rem;
                        width: 25vw;
                        color: bisque;
                        border-radius: 8px;
                        background-color: #f5f9ff;
                    "
                >
                    <div style="font-size: 16px">
                        <!-- <i
                            class="fas fa-building"
                            style="color: #1565d8; font-size: 1rem"
                        >
                        </i> -->
                        <span class="text-black">
                            Organization Private / Government
                        </span>
                    </div>
                </button>
                <button
                    routerLink="/authentication/register/school"
                    class="flex justify-content-center align-items-center"
                    style="
                        border: 2px solid #1565d8;
                        padding: 1rem 1rem 1rem 1rem;
                        width: 25vw;
                        color: bisque;
                        border-radius: 8px;
                        background-color: #f5f9ff;
                    "
                >
                    <div style="font-size: 16px">
                        <!-- <i
                            class="fas fa-building-columns"
                            style="color: #1565d8; font-size: 1rem"
                        >
                        </i> -->
                        <span class="text-black"> School / University </span>
                    </div>
                </button>
                <button
                    routerLink="/authentication/register/partner"
                    class="flex justify-content-center align-items-center"
                    style="
                        border: 2px solid #1565d8;
                        padding: 1rem 1rem 1rem 1rem;
                        width: 25vw;
                        color: bisque;
                        border-radius: 8px;
                        background-color: #f5f9ff;
                    "
                >
                    <div style="font-size: 16px">
                        <!-- <i
                            class="fas fa-handshake"
                            style="color: #1565d8; font-size: 1rem"
                        >
                        </i> -->
                        <span class="text-black"> Partnership </span>
                    </div>
                </button>
                <div
                    class="flex justify-content-center mt-3"
                    style="padding-right: 10%"
                >
                    <h1 class="text-lg font-normal" style="color: #374357">
                        Already have an account?
                        <span>
                            <a
                                routerLink="/authentication/login"
                                style="color: #1565d8; font-weight: 600"
                            >
                                Sign In
                            </a>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
