<ngx-spinner name="policyMultiSelect_spinner"
             bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple"
             [fullScreen]="false">
</ngx-spinner>

<div class="custom-toolbar-card">
    <p-toolbar styleClass="toolbar-create-modifier">
        <div class="p-toolbar-group-left">
            <span style="padding-left: 0.7rem; font-weight: 500;">Polices</span>
        </div>
        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-times" (onClick)="close()" p-button-danger></p-button>
        </div>
    </p-toolbar>
</div>

<div class="custom-list-card">
    <div class="custom-data-section">
        <div class="p-grid">
            <div class="p-col">
                <div class="p-fluid">
                    <span class="p-buttonset">
                        <button pButton
                                type="button"
                                label="Select All"
                                pTooltip="Select All "
                                (click)="onAllAddClick()"></button>
                        <button pButton
                                type="button"
                                label="Remove All"
                                pTooltip="Remove All"
                                (click)="onAllRemoveClick()"></button>
                    </span>

                    <p-table [value]="_list"
                             selectionMode="multiple"
                             styleClass="p-datatable-gridlines"
                             dataKey="id"
                             responsiveLayout="scroll"
                             [scrollable]="true"
                             (onRowSelect)="onRowSelect($event)"
                             (onRowUnselect)="onRowUnselect($event)"
                             [(selection)]="_selectedPolices"
                             scrollHeight="240px"
                             [metaKeySelection]="false"
                             [globalFilterFields]="['id','name']"
                             #multiSelectTable>

                        <ng-template pTemplate="caption">
                            <div class="p-d-flex">
                                <span class="p-input-icon-left p-ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText
                                           type="text"
                                           (input)="
                      multiSelectTable.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                                           placeholder="Search Policy" />
                                </span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header"
                                     let-columns>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body"
                                     let-rowData>
                            <tr [pSelectableRow]="rowData">
                                <td>{{ rowData?.id }}</td>
                                <td>{{ rowData?.name }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>